.projects-menu {
  display: flex;
  justify-content: center;
}

.size-fix {
  margin: 0 auto; /* this will align the image to center. */
  width: auto; /* for those images which don't have a width specified, but has a max-height will be auto adjusted */
}
