img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.zoom {
  transition: transform 0.3s;
}
.zoom:hover {
  transform: scale(1.05);
}

.test {
  padding-top: 0;
}

.bt {
  border-top: 2px solid #fff;
}

.bb {
  border-bottom: 2px solid #fff;
}
